@import url(http://fonts.googleapis.com/css?family=Signika:400,600,700,300|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

// Fonts
@custom: 'Signika', sans-serif;
@default: 'Open Sans', arial, sans-serif;

//Colors
@white:#ffffff;
@black:#1c1d1f;
@yellow:#f9ce05;
@gray:#d8dbe0;
@dark-gray:#212224;
@dark-gray2:#38393b;
@light-gray:#e8ebf0;
@text:#666666;
@text-dark-background:#bdbfc4;
@link:#57585b;
@blue:#31363d;

// Common Herlpers 
.list(){
    list-style: none;
    padding-left: 15px;
    background: transparent url("images/list-bullet.png") left center no-repeat;
}
.mp0(@mp0: 0px){
    margin: @mp0;
    padding: @mp0;
}

// CSS3 Customs styles
.opacity(@opacity: .9, @ie-opacity: 90){
    opacity: @opacity; /* other browsers and IE9+ */  
    filter: alpha(opacity=@ie-opacity); /* IE6+ */
}
.inline(){
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;   
}
.rounded(@radius: 3px){
    -moz-border-radius:@radius; /* Firefox */  
    -webkit-border-radius:@radius; /* Safari and chrome */ 
    -khtml-border-radius:@radius; /* Linux browsers */  
    border-radius:@radius; /* CSS3 */    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  /* All browsers */
    behavior: url(PIE.php);
}
.shadow(@x-axis: 0px, @y-axis: 2px, @blur: 2px, @shadow-color: #cacdd0){
    box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */    
    -moz-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */
    -webkit-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Safari and Chrome */
    behavior: url(PIE.php);
}
.gradient(@color: #e30d0d, @start: #e30d0d, @stop1: #e30d0d, @stop2: #d60d0d, @end: #d60d0d){
    background: @color; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(50%,@stop1), color-stop(51%,@stop2), color-stop(100%,@end)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @start 0%,@stop1 50%,@stop2 51%,@end 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top,  @start 0%, @stop1 50%,@stop2 51%,@end 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top,  @start 0%,@stop1 50%,@stop2 51%,@end 100%); /* IE10+ */
    background: -o-linear-gradient(top,  @start 0%,@stop1 50%,@stop2 51%,@end 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom,  @start 0%,@stop1 50%,@stop2 51%,@end 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e30d0d', endColorstr='#d60d0d',GradientType=0 ); /* IE6-9 */
    -pie-background: linear-gradient(@start, @stop1, @stop2, @end); /*PIE*/
    behavior: url(PIE.php);
}
.rotate(@deg: 180deg, @ie-deg: 2) {
    -webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@ie-deg);    
}
.button(@url:url("images/read-more.png") left top no-repeat, @fcolor: @black){
    background: @url;
    color:@fcolor;
    display:block;
    float: left;
    font-family: @custom;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    height: 31px;
    line-height: 31px;
    padding-left:35px;
    &:hover{
        color: @text;
        text-decoration: underline;
    }
}
.map-box(){
    display: inline;
    float: left;
    height: 172px;
    width: 190px;
}