html{
    .mp0();
}
a{
	color: @link;
    text-decoration: none;
    &:hover{	
	    color: @dark-gray;
	    text-decoration: none;
    }
}

body{
	background:url(images/pattern.jpg) repeat;
    font-family: @default;
    font-size: 14px;
    color: @text;
    text-align: center;
}
p{
	font-family:@default; 
	font-weight: normal;
}
input[type="submit"]{
	.button();
	width:auto;
	height: 35px;
}
input, textarea, select{
	display:block;
	font-family:@default;
	font-size:14px;
	outline-color:@gray;
	outline-width: thin;
}
/* ---- Headers ---- */
h1, h2, h3, h4, h5, h6{
	font-family:@custom;
}
h1{
	font-size:36px;
}
h2{
	font-size:33px;
}
h3{
	font-size:26px;
}
h4{
	font-size:24px;
}
h5{
	font-size:20px;
}
h6{
	font-size:18px;
}
/* ---- End Headers ---- */

/* ---- social network ---- */
#social-network{
			margin-top: 10px;
			ul{
				.mp0();
				li{
					list-style: none;
					display: inline;
					a{
						background: url("images/social-icons.png") no-repeat;
						display: inline-block;
						height: 37px;
						text-indent: -9999px;
						padding: 0px 2px;
						width: 37px;
					}
					.facebook{
						background-position: 0px 0px;
						&:hover{
							background-position: -60px 0px;
						}
					}
					.twitter{
						background-position: 0px -50px;
						&:hover{
							background-position: -60px -50px;
						}
					}
					.google{
						background-position: 0px -100px;
						&:hover{
							background-position: -60px -100px;
						}
					}
				}
			}
		}
/* ---- End social network ---- */		

#wrap{
	height: 100%;
	margin: auto;
	position: relative;
	text-align: left;

	header#header{
		background: @white;
		height: 55px;
		padding: 17px 0px 18px;

		h1#logo{
			margin-bottom: 0px;
		}

		/* aquí van las redes sociales */

		#search{
			height: 40px;
			padding: 0px;
			margin-top: 8px;

			input{
				background: @light-gray;
				border: none;
				color: @text;
				float: left;
				line-height: 38px;
				height: 38px;
				margin: 0px 5px 0px 0px;
				width: 215px;
				padding-left: 5px;
			}
			input[type="submit"]{
				background:url("images/icon-search.png");
				border:none;
				height: 40px;
				margin: 0px;
				width: 44px;
			}
		}
	}
	#container{
		margin-bottom: 35px;
		nav#navigation{
			ul{
				.mp0();
				li{
					display: inline;
					font-size: 18px;
					a{
						display: inline-block;
						padding: 20px 17px;
						font-weight: 600;
						&:hover{
							background:url("images/over-mainmenu-icon.png") center top no-repeat;
						}
					}
				}
			}
		}
		#content{
			margin-bottom: 15px;
			#top-section{
				.shadow();
				#slideshow{
					display: inline;
					float: left;
					width: 635px;					
					ul{
						padding: 0;
					}
					.flex-control-nav{
						float: left;
						background:@white;
						width: 146px;
						bottom: 0;
						text-align: center;
						position: absolute;
						z-index: 100;
						left: 489px;						
					}
					.image{
						float: left;
						height: 339px;
					}
					.text{
						background:@white;
						float: left;
						height: 130px;
						padding: 15px 25px;
						width: 585px;
						h2{
							color: @black;
							font-size: 26px;
							line-height: 36px;
							margin-bottom: 0px;
						}
						p{
							font-size: 18px;
							height: 48px;
							margin-bottom: 10px;
						}
						a{
							.button();
						}
					}
				}
				#headlines{
					display: inline;
					float: left;
					position: relative;
					width: 315px;
					h3{
						background: @black;
						color: @yellow;
						font-size: 18px;
						height: 50px;
						line-height: 50px;
						margin-bottom: 0px;
						padding-left: 20px;
					}
					#headlines-news{
						background:@dark-gray; 
						padding: 10px;
						border-radius: 0;
						-webkit-border-radius: 0;
						-moz-border-radius: 0;
						-o-border-radius: 0;
						.news{
							display: block;
							padding:10px;
							cursor: pointer;
							img{
								width: auto;
								display: inline;
							}
							p{
								color: @light-gray;
								display: inline-block;
								height: 72px;
								margin-bottom: 0px;
								vertical-align: top;
								width: 190px;
							}
							&:hover{
								background: @blue;
							}
						}
						.flex-control-nav{
							position: absolute;
							height: 11px;
							right: 5px;
							top: -30px;
							width: 70px;								
							.mp0();
							li{
								display: inline;
								list-style: none;
								margin: 0px 3px;
								a{
									border: 2px solid @yellow;
									display: inline-block;
									height: 8px;
									width: 8px;
									.rounded(10px);
									&.flex-active{
										background:@yellow;
										border: 2px solid @yellow;	
										.rounded(10px);
									}
								}
							}							
						}
					}
					.viewall-bar{
						background:@yellow;
						overflow: hidden;
						padding: 5px 0px 5px 20px;
						a{
							.button();
						}
					}
				}
			}
			#middle-section{
				margin-top: 35px;
				.box{
					.map-box();
					h3{
						color: @black;
						font-size: 16px;
						padding: 15px 0px 0px 15px;
					}
					a{
						margin: 80px 0px 0px 15px;
						.button();
					}
				}
				.box1{
					.map-box();
					h3{
						color: @white;
						font-size: 16px;
						padding: 15px 0px 0px 15px;
					}
					a{
						margin: 80px 0px 0px 15px;
						.button(url("images/read-more2.png") left top no-repeat, @yellow);
					}
				}
				.africa{background:@yellow url("images/africa.png");}
				.americas{background:@dark-gray url("images/americas.png");}
				.asia-pacific{background:@yellow url("images/asia-pacific.png");}
				.europe{background:@dark-gray url("images/europe.png");}
				.gulf{background:@yellow url("images/gulf.png");}
				.shadow{
					background:url("images/shadow.png") no-repeat;
					height: 35px;
					float: left;
					width: 950px;
				}

			}
			#bottom-section{
				position: relative;
				.shadow();
				#news{
					background:@white;
					display: inline;
					float: left;
					height: 1049px;
					width: 635px;
					h3{
						color: @black;
						font-size: 18px;
						line-height: 63px;
						padding-left: 30px;
						margin-bottom: 0px;
					}
					article{
						display: inline;
						float: left;
						height: 397px;
						margin-left:33px;
						margin-bottom: 22px;
						width: 270px;
						img{}
						h4{
							color: black;
							font-size: 20px;
							line-height: 1.3em;
						}
						p{
							line-height: 1.3em;
						}
						a.readmore{
							.button();
						}
						.related{
							a.related-article{
								border-bottom: 1px solid @gray;
								display: block;
								clear: both;
								height: 40px;
								line-height: 40px;
								width: 100%;
								.list();
								&:hover{
    								padding-left: 15px;
									background: @yellow url("images/list-bullet.png") left center no-repeat
								}
							}
						}
					}
					.readmore-bar{
						position: absolute;
						bottom: 0;
						left: 0;					
						background: @light-gray;
						display: inline;
						float: left;
						width: 100%;
						padding: 5px 0px 5px 20px;
						a{
							.button();
						}
					}
				}
				aside{
					background:@dark-gray;
					display: inline;
					float: left;
					padding: 0px 22px;
					position: relative;
					width: 271px;
					h3{
						color: @yellow;
						font-size: 18px;
						line-height: 63px;
						margin-bottom: 0px;
					}
					#multimedia{
						margin-bottom: 20px;
						p{
							margin-bottom: 0px;
						}
						#play-button{
							background: url("images/video-icon.png") no-repeat;
							width: 48px;
							height: 48px;
							position: absolute;
							left: 111px;
							top: 68px;
						}
						.flex-control-nav{
							position: absolute;
							height: 11px;
							right: 5px;
							top: -30px;
							width: 70px;								
							.mp0();
							li{
								display: inline;
								list-style: none;
								margin: 0px 3px;
								a{
									border: 2px solid @yellow;
									display: inline-block;
									height: 8px;
									width: 8px;
									.rounded(10px);
									&.flex-active{
										background:@yellow;
										border: 2px solid @yellow;	
										.rounded(10px);
									}
								}
							}							
						}						
					}
					#popular{
						margin-bottom: 20px;
						ul{
							.mp0();
							li{
								border-bottom: 1px solid @dark-gray2;
								list-style: none;
								a{
									color: @light-gray;
									display: block;
									padding:5px 0px;
									.list();
									&:hover{
										color: @light-gray;
									    padding-left: 15px;
									    background: @blue url("images/list-bullet.png") left center no-repeat;
									}
								}
							}
						}
					}
					.face-pile{
						height: 270px;
						background:@white;
					}
					.fb_iframe_widget{
						margin-bottom: 20px;
						background-color: @white;
					}
					.widget-container{
						margin-bottom: 20px;
						list-style-type: none;
					}
				}
			}
			#sitemap{
				margin-top: 35px;
				.sitemap{
					column-count:2;
					-moz-column-count:2; /* Firefox */
					-webkit-column-count:2; /* Safari and Chrome */
					ul{
						.mp0();
						li{
							list-style: none;
							a{
								.list();
							}
						}
					}
				}
			}
		}
	}
	footer#footer{
		background: @dark-gray;
		color: @link;
		line-height: 40px;
	}
}
	
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  float: none;
}

.nocomments{
	display: none;
}
	.content-area{
		background-color: @white;
		.shadow();
		display: inline-block;		
		ul{
			margin: 2em;
			li{
				line-height: 1.5em;
			}
		}
		p{
			line-height: 1.5em;
		}		
		#content{
			padding: 50px;
			article{
				display: inline-block;
				margin-bottom: 2em;
				#multimedia{
					margin: 15px 0;
				}
				footer{
					margin-top: 3em;
					.commentlist{
						margin: 1.5em 0;
						.comment{
							margin: 1.5em 0;
						}
					}
				}
			}
			.archive-header-category{
				padding-right: 5em;
				h1{
					font-size: 2.5em;
					margin: 0.5em 0;
    				padding: 0.5em 0;
				}
			}
			#content-category{
				article{
					header{
						h1{
							font-size: 1.5em;
						}
					}
					img{
						width: 100%;
						height: 100%;
					}
					aside{
						p{
							padding-left: 0.3em;
						}
					}
					.read-more{
						display: inline-block;
						padding: 0 0 1em 0.4em;
						font-weight: 600;
					}
				}				
			}
			.wp-pagenavi {
			    margin: 3em 0;
			}
			#not-found{
				#sidebar{
					width: 700px;
				}
			}	
		}
		.site-content{
			width: 955px;
		}
		.has-sidebar{
			width: 600px;
			float: left;
		}
		#secondary,#sidebar{
			width: 250px;
			float: left;
			margin-top: 2em;
			li{
				list-style-type: none;
				margin-bottom: 0.3em;
    			padding-bottom: 0.3em;
    			border-bottom: 0.1em solid #d5d5d5;
				&:last-child{
					border-bottom: none;
				}        			
			}
			.widgettitle{
				font-size: 2em;
				margin-top: 1em;
			}
			ul{
				margin: 1em 0 0.5em 0;
			}
			#searchform{
				height: 40px;
				padding: 0px;
				margin-top: 8px;

				input{
					background: @light-gray;
					border: none;
					color: @text;
					float: left;
					line-height: 38px;
					height: 38px;
					margin: 0px 5px 0px 0px;
					width: 215px;
					padding-left: 5px;
				}
				input[type="submit"]{
					background:url("images/icon-search.png");
					border:none;
					height: 40px;
					margin: 0px;
					width: 44px;
				}
			}
		}
		#searchform{
			height: 40px;
			padding: 0px;
			margin-top: 8px;

			input{
				background: @light-gray;
				border: none;
				color: @text;
				float: left;
				line-height: 38px;
				height: 38px;
				margin: 0px 5px 0px 0px;
				width: 215px;
				padding-left: 5px;
			}
			input[type="submit"]{
				background:url("images/icon-search.png");
				border:none;
				height: 40px;
				margin: 0px;
				width: 44px;
			}
		}		
	}
	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; 
	    height: 0; 
	    overflow: hidden;
	    iframe, object, embed{
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
	    }
	}