@import url(http://fonts.googleapis.com/css?family=Signika:400,600,700,300|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   Normalize.css is intended to be used as an alternative to CSS resets.

   It is suggested that you read through the normalize.css file and customise it
   to meet the design requirements of a project rather including it as a "black
   box". @see http://nicolasgallagher.com/about-normalize-css/

   Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
         @see http://snook.ca/archives/html_and_css/no_css_reset/
   ========================================================================== */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/* Instead of relying on the fonts that are available on a user's computer, you
   can use web fonts which, like images, are resources downloaded to the user's
   browser. Because of the bandwidth and rendering resources required, web fonts
   should be used with care.

   Numerous resources for web fonts can be found on Google. Here are a few
   websites where you can find Open Source fonts to download:
   - http://www.fontsquirrel.com/fontface
   - http://www.theleagueofmoveabletype.com

   In order to use these fonts, you will need to convert them into formats
   suitable for web fonts. We recommend the free-to-use Font Squirrel's
   Font-Face Generator:
     http://www.fontsquirrel.com/fontface/generator

   The following is an example @font-face declaration. This font can then be
   used in any ruleset using a property like this:  font-family: Example, serif;

   Since we're using Sass, you'll need to declare your font faces here, then you
   can add them to the font variables in the _base.scss partial.
*/
/*
@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  /*
   * To use a 14px font size on the page, delete the 16px and 12px declarations.
   * To use a 12px font size on the page, delete the 16px and 14px declarations.
   */

  /* Use a 12px base font size */

  /* font-size: 75%;  16px x 75% = 12px */

  /* Use a 14px base font size */

  /* Use a 16px base font size */

  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Establish a vertical rhythm. */

  line-height: 1.5em;
}
/*
 * Instead of relying on the fonts that are available on a user's computer, you
 * can use web fonts which, like images, are resources downloaded to the user's
 * browser. Because of the bandwidth and rendering resources required, web fonts
 * should be used with care.
 *
 * Numerous resources for web fonts can be found on Google. Here are a few
 * websites where you can find Open Source fonts to download:
 * - http://www.fontsquirrel.com/fontface
 * - http://www.theleagueofmoveabletype.com
 *
 * In order to use these fonts, you will need to convert them into formats
 * suitable for web fonts. We recommend the free-to-use Font Squirrel's
 * Font-Face Generator:
 *   http://www.fontsquirrel.com/fontface/generator
 *
 * The following is an example @font-face declaration. This font can then be
 * used in any ruleset using a property like this:  font-family: Example, serif;

@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}

 */
/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * and Nimbus Sans fonts are commonly available on Linux systems where the MS
   * fonts are less common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif, serif or
   * monospace) hints at what type of font to use if the web browser doesn't
   * find any of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */

  font-family: Arial, Helvetica, Verdana, Sans-Serif;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography

   To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
   so that the line height of our base font becomes the basic unit of vertical
   measurement. We use multiples of that unit to set the top and bottom margins
   for our block level elements and to set the line heights of any fonts.
   For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  /* Sets the line height to 2 units of vertical rhythm */

  /* Before line-height: 1.5em;  3rem / 2em = 1.5em */

  /* Sets 1 unit of vertical rhythm on the top and bottom margins. */

  margin-top: 0;
  /* before margin-top: 0.75em;  1.5rem / 2em = .75em */

  margin-bottom: 0.75em;
}
h2 {
  font-size: 1.5em;
  line-height: 2em;
  /* 3rem / 1.5em = 2em */

  margin-top: 0;
  /* before margin-top: 1em;  1.5rem / 1.5em = 1em */

  /* Before margin-bottom: 1em; */

}
h3 {
  font-size: 1.17em;
  line-height: 1.282em;
  /* 1.5rem / 1.17em = 1.282em */

  margin-top: 0;
  /* before margin-top: 1.282em;*/

  /* Before  margin-bottom: 1.282em;*/

}
h4 {
  font-size: 1em;
  line-height: 1.5em;
  /* 1.5rem / 1em = 1.5em */

  margin-top: 0;
  /* before margin-top: 1.5em;*/

  /* Before margin-bottom: 1.5em; */

}
h5 {
  font-size: 0.83em;
  line-height: 1.807em;
  /* 1.5rem / 0.83em = 1.807em */

  margin-top: 0;
  /* before margin-top: 1.807em;*/

  /* Before margin-bottom: 1.807em; */

}
h6 {
  font-size: 0.75em;
  line-height: 2em;
  /* 1.5rem / .75em = 2em */

  margin-top: 0;
  /* before margin-top: 2em;*/

  /* Before margin-bottom: 2em; */

}
/* Thematic break */
hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1.5em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap;
}
/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}
blockquote {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */

  margin: 1.5em 30px;
}
/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ffd75c;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */

  margin: 1.5em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em;
}
/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}
/* @todo Determine how big element affects vertical rhythm. */
small {
  font-size: 75%;
}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul,
.item-list ul {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */

  margin: 0 0 1.5em 0;
}
.item-list ul li {
  /* Drupal override */

  margin: 0;
}
dd {
  margin: 0 0 0 30px;
  /* LTR */

}
ul ul,
ul ol,
ol ul,
ol ol,
.item-list ul ul,
.item-list ul ol,
.item-list ol ul,
.item-list ol ol {
  margin: 0;
  /* Turn off margins on nested lists. */

}
/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol {
  padding: 0 0 0 30px;
  /* LTR */

}
ul,
.item-list ul {
  padding: 0 0 0 10px;
  /* LTR */

}
/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

  /* vertical-align: bottom; */
  /* Suppress the space beneath the baseline */

  /* Responsive images */

  /* @todo Add responsive embedded video. */

  /*max-width: 100%;*/

  height: auto;
}
/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.5em 0.625em 1em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */
  /* LTR */

}
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */

}
/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -webkit-box-sizing: content-box;
  /* 2 */

  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  /* width: 100%; */
  /* Prevent cramped-looking tables */

  /* Add vertical rhythm margins. */

  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #969696;
}
caption {
  background: #2d2d2d;
  padding: 5px;
  color: #fff;
  font-weight: bold;
}
/*
 * Drupal provides table styling which is only useful for its admin section
 * forms, so we override this default CSS. (We set it back in forms.css.)
 */
th {
  /* text-align: left;  LTR */

  padding: 0;
  border-bottom: none;
}
tr th,
thead th {
  color: #fff;
  font-weight: normal;
  background-color: #4f4f4f;
  border-right: 1px solid #969696;
  padding: 10px;
}
tr td {
  border-top: 1px solid #969696;
  border-right: 1px solid #969696;
  padding: 10px;
}
tr.odd td {
  background: #f2f7fc;
}
tbody {
  border-top: none;
}
/* =============================================================================
    Reset specific only for default browser values
   ========================================================================== */
p,
ul,
ol {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-bottom: 0.5em;
}
/* =============================================================================
   Common classes useful on html
   ========================================================================== */
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.uppercase {
  text-transform: uppercase;
}
.relative {
  position: relative;
}
html {
  margin: 0px;
  padding: 0px;
}
a {
  color: #57585b;
  text-decoration: none;
}
a:hover {
  color: #212224;
  text-decoration: none;
}
body {
  background: url(images/pattern.jpg) repeat;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  color: #666666;
  text-align: center;
}
p {
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: normal;
}
input[type="submit"] {
  background: url("images/read-more.png") left top no-repeat;
  color: #1c1d1f;
  display: block;
  float: left;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  height: 31px;
  line-height: 31px;
  padding-left: 35px;
  width: auto;
  height: 35px;
}
input[type="submit"]:hover {
  color: #666666;
  text-decoration: underline;
}
input,
textarea,
select {
  display: block;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  outline-color: #d8dbe0;
  outline-width: thin;
}
/* ---- Headers ---- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Signika', sans-serif;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 33px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
/* ---- End Headers ---- */
/* ---- social network ---- */
#social-network {
  margin-top: 10px;
}
#social-network ul {
  margin: 0px;
  padding: 0px;
}
#social-network ul li {
  list-style: none;
  display: inline;
}
#social-network ul li a {
  background: url("images/social-icons.png") no-repeat;
  display: inline-block;
  height: 37px;
  text-indent: -9999px;
  padding: 0px 2px;
  width: 37px;
}
#social-network ul li .facebook {
  background-position: 0px 0px;
}
#social-network ul li .facebook:hover {
  background-position: -60px 0px;
}
#social-network ul li .twitter {
  background-position: 0px -50px;
}
#social-network ul li .twitter:hover {
  background-position: -60px -50px;
}
#social-network ul li .google {
  background-position: 0px -100px;
}
#social-network ul li .google:hover {
  background-position: -60px -100px;
}
/* ---- End social network ---- */#wrap {
  height: 100%;
  margin: auto;
  position: relative;
  text-align: left;
}
#wrap header#header {
  background: #ffffff;
  height: 55px;
  padding: 17px 0px 18px;
  /* aquí van las redes sociales */

}
#wrap header#header h1#logo {
  margin-bottom: 0px;
}
#wrap header#header #search {
  height: 40px;
  padding: 0px;
  margin-top: 8px;
}
#wrap header#header #search input {
  background: #e8ebf0;
  border: none;
  color: #666666;
  float: left;
  line-height: 38px;
  height: 38px;
  margin: 0px 5px 0px 0px;
  width: 215px;
  padding-left: 5px;
}
#wrap header#header #search input[type="submit"] {
  background: url("images/icon-search.png");
  border: none;
  height: 40px;
  margin: 0px;
  width: 44px;
}
#wrap #container {
  margin-bottom: 35px;
}
#wrap #container nav#navigation ul {
  margin: 0px;
  padding: 0px;
}
#wrap #container nav#navigation ul li {
  display: inline;
  font-size: 18px;
}
#wrap #container nav#navigation ul li a {
  display: inline-block;
  padding: 20px 17px;
  font-weight: 600;
}
#wrap #container nav#navigation ul li a:hover {
  background: url("images/over-mainmenu-icon.png") center top no-repeat;
}
#wrap #container #content {
  margin-bottom: 15px;
}
#wrap #container #content #top-section {
  box-shadow: 0px 2px 2px #cacdd0;
  /* for Firefox 3.5+ */
  -moz-box-shadow: 0px 2px 2px #cacdd0;
  /* for Firefox 3.5+ */

  -webkit-box-shadow: 0px 2px 2px #cacdd0;
  /* for Safari and Chrome */

  behavior: url(PIE.php);
}
#wrap #container #content #top-section #slideshow {
  display: inline;
  float: left;
  width: 635px;
}
#wrap #container #content #top-section #slideshow ul {
  padding: 0;
}
#wrap #container #content #top-section #slideshow .flex-control-nav {
  float: left;
  background: #ffffff;
  width: 146px;
  bottom: 0;
  text-align: center;
  position: absolute;
  z-index: 100;
  left: 489px;
}
#wrap #container #content #top-section #slideshow .image {
  float: left;
  height: 339px;
}
#wrap #container #content #top-section #slideshow .text {
  background: #ffffff;
  float: left;
  height: 130px;
  padding: 15px 25px;
  width: 585px;
}
#wrap #container #content #top-section #slideshow .text h2 {
  color: #1c1d1f;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 0px;
}
#wrap #container #content #top-section #slideshow .text p {
  font-size: 18px;
  height: 48px;
  margin-bottom: 10px;
}
#wrap #container #content #top-section #slideshow .text a {
  background: url("images/read-more.png") left top no-repeat;
  color: #1c1d1f;
  display: block;
  float: left;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  height: 31px;
  line-height: 31px;
  padding-left: 35px;
}
#wrap #container #content #top-section #slideshow .text a:hover {
  color: #666666;
  text-decoration: underline;
}
#wrap #container #content #top-section #headlines {
  display: inline;
  float: left;
  position: relative;
  width: 315px;
}
#wrap #container #content #top-section #headlines h3 {
  background: #1c1d1f;
  color: #f9ce05;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 0px;
  padding-left: 20px;
}
#wrap #container #content #top-section #headlines #headlines-news {
  background: #212224;
  padding: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}
#wrap #container #content #top-section #headlines #headlines-news .news {
  display: block;
  padding: 10px;
  cursor: pointer;
}
#wrap #container #content #top-section #headlines #headlines-news .news img {
  width: auto;
  display: inline;
}
#wrap #container #content #top-section #headlines #headlines-news .news p {
  color: #e8ebf0;
  display: inline-block;
  height: 72px;
  margin-bottom: 0px;
  vertical-align: top;
  width: 190px;
}
#wrap #container #content #top-section #headlines #headlines-news .news:hover {
  background: #31363d;
}
#wrap #container #content #top-section #headlines #headlines-news .flex-control-nav {
  position: absolute;
  height: 11px;
  right: 5px;
  top: -30px;
  width: 70px;
  margin: 0px;
  padding: 0px;
}
#wrap #container #content #top-section #headlines #headlines-news .flex-control-nav li {
  display: inline;
  list-style: none;
  margin: 0px 3px;
}
#wrap #container #content #top-section #headlines #headlines-news .flex-control-nav li a {
  border: 2px solid #f9ce05;
  display: inline-block;
  height: 8px;
  width: 8px;
  -moz-border-radius: 10px;
  /* Firefox */
  -webkit-border-radius: 10px;
  /* Safari and chrome */
  -khtml-border-radius: 10px;
  /* Linux browsers */
  border-radius: 10px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(PIE.php);
}
#wrap #container #content #top-section #headlines #headlines-news .flex-control-nav li a.flex-active {
  background: #f9ce05;
  border: 2px solid #f9ce05;
  -moz-border-radius: 10px;
  /* Firefox */
  -webkit-border-radius: 10px;
  /* Safari and chrome */
  -khtml-border-radius: 10px;
  /* Linux browsers */
  border-radius: 10px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(PIE.php);
}
#wrap #container #content #top-section #headlines .viewall-bar {
  background: #f9ce05;
  overflow: hidden;
  padding: 5px 0px 5px 20px;
}
#wrap #container #content #top-section #headlines .viewall-bar a {
  background: url("images/read-more.png") left top no-repeat;
  color: #1c1d1f;
  display: block;
  float: left;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  height: 31px;
  line-height: 31px;
  padding-left: 35px;
}
#wrap #container #content #top-section #headlines .viewall-bar a:hover {
  color: #666666;
  text-decoration: underline;
}
#wrap #container #content #middle-section {
  margin-top: 35px;
}
#wrap #container #content #middle-section .box {
  display: inline;
  float: left;
  height: 172px;
  width: 190px;
}
#wrap #container #content #middle-section .box h3 {
  color: #1c1d1f;
  font-size: 16px;
  padding: 15px 0px 0px 15px;
}
#wrap #container #content #middle-section .box a {
  margin: 80px 0px 0px 15px;
  background: url("images/read-more.png") left top no-repeat;
  color: #1c1d1f;
  display: block;
  float: left;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  height: 31px;
  line-height: 31px;
  padding-left: 35px;
}
#wrap #container #content #middle-section .box a:hover {
  color: #666666;
  text-decoration: underline;
}
#wrap #container #content #middle-section .box1 {
  display: inline;
  float: left;
  height: 172px;
  width: 190px;
}
#wrap #container #content #middle-section .box1 h3 {
  color: #ffffff;
  font-size: 16px;
  padding: 15px 0px 0px 15px;
}
#wrap #container #content #middle-section .box1 a {
  margin: 80px 0px 0px 15px;
  background: url("images/read-more2.png") left top no-repeat;
  color: #f9ce05;
  display: block;
  float: left;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  height: 31px;
  line-height: 31px;
  padding-left: 35px;
}
#wrap #container #content #middle-section .box1 a:hover {
  color: #666666;
  text-decoration: underline;
}
#wrap #container #content #middle-section .africa {
  background: #f9ce05 url("images/africa.png");
}
#wrap #container #content #middle-section .americas {
  background: #212224 url("images/americas.png");
}
#wrap #container #content #middle-section .asia-pacific {
  background: #f9ce05 url("images/asia-pacific.png");
}
#wrap #container #content #middle-section .europe {
  background: #212224 url("images/europe.png");
}
#wrap #container #content #middle-section .gulf {
  background: #f9ce05 url("images/gulf.png");
}
#wrap #container #content #middle-section .shadow {
  background: url("images/shadow.png") no-repeat;
  height: 35px;
  float: left;
  width: 950px;
}
#wrap #container #content #bottom-section {
  position: relative;
  box-shadow: 0px 2px 2px #cacdd0;
  /* for Firefox 3.5+ */
  -moz-box-shadow: 0px 2px 2px #cacdd0;
  /* for Firefox 3.5+ */

  -webkit-box-shadow: 0px 2px 2px #cacdd0;
  /* for Safari and Chrome */

  behavior: url(PIE.php);
}
#wrap #container #content #bottom-section #news {
  background: #ffffff;
  display: inline;
  float: left;
  height: 1049px;
  width: 635px;
}
#wrap #container #content #bottom-section #news h3 {
  color: #1c1d1f;
  font-size: 18px;
  line-height: 63px;
  padding-left: 30px;
  margin-bottom: 0px;
}
#wrap #container #content #bottom-section #news article {
  display: inline;
  float: left;
  height: 397px;
  margin-left: 33px;
  margin-bottom: 22px;
  width: 270px;
}
#wrap #container #content #bottom-section #news article h4 {
  color: black;
  font-size: 20px;
  line-height: 1.3em;
}
#wrap #container #content #bottom-section #news article p {
  line-height: 1.3em;
}
#wrap #container #content #bottom-section #news article a.readmore {
  background: url("images/read-more.png") left top no-repeat;
  color: #1c1d1f;
  display: block;
  float: left;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  height: 31px;
  line-height: 31px;
  padding-left: 35px;
}
#wrap #container #content #bottom-section #news article a.readmore:hover {
  color: #666666;
  text-decoration: underline;
}
#wrap #container #content #bottom-section #news article .related a.related-article {
  border-bottom: 1px solid #d8dbe0;
  display: block;
  clear: both;
  height: 40px;
  line-height: 40px;
  width: 100%;
  list-style: none;
  padding-left: 15px;
  background: transparent url("images/list-bullet.png") left center no-repeat;
}
#wrap #container #content #bottom-section #news article .related a.related-article:hover {
  padding-left: 15px;
  background: #f9ce05 url("images/list-bullet.png") left center no-repeat;
}
#wrap #container #content #bottom-section #news .readmore-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #e8ebf0;
  display: inline;
  float: left;
  width: 100%;
  padding: 5px 0px 5px 20px;
}
#wrap #container #content #bottom-section #news .readmore-bar a {
  background: url("images/read-more.png") left top no-repeat;
  color: #1c1d1f;
  display: block;
  float: left;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  height: 31px;
  line-height: 31px;
  padding-left: 35px;
}
#wrap #container #content #bottom-section #news .readmore-bar a:hover {
  color: #666666;
  text-decoration: underline;
}
#wrap #container #content #bottom-section aside {
  background: #212224;
  display: inline;
  float: left;
  padding: 0px 22px;
  position: relative;
  width: 271px;
}
#wrap #container #content #bottom-section aside h3 {
  color: #f9ce05;
  font-size: 18px;
  line-height: 63px;
  margin-bottom: 0px;
}
#wrap #container #content #bottom-section aside #multimedia {
  margin-bottom: 20px;
}
#wrap #container #content #bottom-section aside #multimedia p {
  margin-bottom: 0px;
}
#wrap #container #content #bottom-section aside #multimedia #play-button {
  background: url("images/video-icon.png") no-repeat;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 111px;
  top: 68px;
}
#wrap #container #content #bottom-section aside #multimedia .flex-control-nav {
  position: absolute;
  height: 11px;
  right: 5px;
  top: -30px;
  width: 70px;
  margin: 0px;
  padding: 0px;
}
#wrap #container #content #bottom-section aside #multimedia .flex-control-nav li {
  display: inline;
  list-style: none;
  margin: 0px 3px;
}
#wrap #container #content #bottom-section aside #multimedia .flex-control-nav li a {
  border: 2px solid #f9ce05;
  display: inline-block;
  height: 8px;
  width: 8px;
  -moz-border-radius: 10px;
  /* Firefox */
  -webkit-border-radius: 10px;
  /* Safari and chrome */
  -khtml-border-radius: 10px;
  /* Linux browsers */
  border-radius: 10px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(PIE.php);
}
#wrap #container #content #bottom-section aside #multimedia .flex-control-nav li a.flex-active {
  background: #f9ce05;
  border: 2px solid #f9ce05;
  -moz-border-radius: 10px;
  /* Firefox */
  -webkit-border-radius: 10px;
  /* Safari and chrome */
  -khtml-border-radius: 10px;
  /* Linux browsers */
  border-radius: 10px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(PIE.php);
}
#wrap #container #content #bottom-section aside #popular {
  margin-bottom: 20px;
}
#wrap #container #content #bottom-section aside #popular ul {
  margin: 0px;
  padding: 0px;
}
#wrap #container #content #bottom-section aside #popular ul li {
  border-bottom: 1px solid #38393b;
  list-style: none;
}
#wrap #container #content #bottom-section aside #popular ul li a {
  color: #e8ebf0;
  display: block;
  padding: 5px 0px;
  list-style: none;
  padding-left: 15px;
  background: transparent url("images/list-bullet.png") left center no-repeat;
}
#wrap #container #content #bottom-section aside #popular ul li a:hover {
  color: #e8ebf0;
  padding-left: 15px;
  background: #31363d url("images/list-bullet.png") left center no-repeat;
}
#wrap #container #content #bottom-section aside .face-pile {
  height: 270px;
  background: #ffffff;
}
#wrap #container #content #bottom-section aside .fb_iframe_widget {
  margin-bottom: 20px;
  background-color: #ffffff;
}
#wrap #container #content #bottom-section aside .widget-container {
  margin-bottom: 20px;
  list-style-type: none;
}
#wrap #container #content #sitemap {
  margin-top: 35px;
}
#wrap #container #content #sitemap .sitemap {
  column-count: 2;
  -moz-column-count: 2;
  /* Firefox */

  -webkit-column-count: 2;
  /* Safari and Chrome */

}
#wrap #container #content #sitemap .sitemap ul {
  margin: 0px;
  padding: 0px;
}
#wrap #container #content #sitemap .sitemap ul li {
  list-style: none;
}
#wrap #container #content #sitemap .sitemap ul li a {
  list-style: none;
  padding-left: 15px;
  background: transparent url("images/list-bullet.png") left center no-repeat;
}
#wrap footer#footer {
  background: #212224;
  color: #57585b;
  line-height: 40px;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  float: none;
}
.nocomments {
  display: none;
}
.content-area {
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #cacdd0;
  /* for Firefox 3.5+ */
  -moz-box-shadow: 0px 2px 2px #cacdd0;
  /* for Firefox 3.5+ */

  -webkit-box-shadow: 0px 2px 2px #cacdd0;
  /* for Safari and Chrome */

  behavior: url(PIE.php);
  display: inline-block;
}
.content-area ul {
  margin: 2em;
}
.content-area ul li {
  line-height: 1.5em;
}
.content-area p {
  line-height: 1.5em;
}
.content-area #content {
  padding: 50px;
}
.content-area #content article {
  display: inline-block;
  margin-bottom: 2em;
}
.content-area #content article #multimedia {
  margin: 15px 0;
}
.content-area #content article footer {
  margin-top: 3em;
}
.content-area #content article footer .commentlist {
  margin: 1.5em 0;
}
.content-area #content article footer .commentlist .comment {
  margin: 1.5em 0;
}
.content-area #content .archive-header-category {
  padding-right: 5em;
}
.content-area #content .archive-header-category h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
  padding: 0.5em 0;
}
.content-area #content #content-category article header h1 {
  font-size: 1.5em;
}
.content-area #content #content-category article img {
  width: 100%;
  height: 100%;
}
.content-area #content #content-category article aside p {
  padding-left: 0.3em;
}
.content-area #content #content-category article .read-more {
  display: inline-block;
  padding: 0 0 1em 0.4em;
  font-weight: 600;
}
.content-area #content .wp-pagenavi {
  margin: 3em 0;
}
.content-area #content #not-found #sidebar {
  width: 700px;
}
.content-area .site-content {
  width: 955px;
}
.content-area .has-sidebar {
  width: 600px;
  float: left;
}
.content-area #secondary,
.content-area #sidebar {
  width: 250px;
  float: left;
  margin-top: 2em;
}
.content-area #secondary li,
.content-area #sidebar li {
  list-style-type: none;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 0.1em solid #d5d5d5;
}
.content-area #secondary li:last-child,
.content-area #sidebar li:last-child {
  border-bottom: none;
}
.content-area #secondary .widgettitle,
.content-area #sidebar .widgettitle {
  font-size: 2em;
  margin-top: 1em;
}
.content-area #secondary ul,
.content-area #sidebar ul {
  margin: 1em 0 0.5em 0;
}
.content-area #secondary #searchform,
.content-area #sidebar #searchform {
  height: 40px;
  padding: 0px;
  margin-top: 8px;
}
.content-area #secondary #searchform input,
.content-area #sidebar #searchform input {
  background: #e8ebf0;
  border: none;
  color: #666666;
  float: left;
  line-height: 38px;
  height: 38px;
  margin: 0px 5px 0px 0px;
  width: 215px;
  padding-left: 5px;
}
.content-area #secondary #searchform input[type="submit"],
.content-area #sidebar #searchform input[type="submit"] {
  background: url("images/icon-search.png");
  border: none;
  height: 40px;
  margin: 0px;
  width: 44px;
}
.content-area #searchform {
  height: 40px;
  padding: 0px;
  margin-top: 8px;
}
.content-area #searchform input {
  background: #e8ebf0;
  border: none;
  color: #666666;
  float: left;
  line-height: 38px;
  height: 38px;
  margin: 0px 5px 0px 0px;
  width: 215px;
  padding-left: 5px;
}
.content-area #searchform input[type="submit"] {
  background: url("images/icon-search.png");
  border: none;
  height: 40px;
  margin: 0px;
  width: 44px;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
@media print {
  a:link,
  a:visited {
    /* underline all links */
  
    text-decoration: underline !important;
  }
  #site-name a:link,
  #site-name a:visited {
    /* Don't underline header */
  
    text-decoration: none !important;
  }
  #content {
    /* Un-float the content */
  
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  #content a[href]:after {
    /* Add visible URL after links. */
  
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    /* Only display useful links. */
  
    content: "";
  }
  #content abbr[title]:after {
    /* Add visible title after abbreviations. */
  
    content: " (" attr(title) ")";
  }
  body,
  #page,
  #main,
  #content {
    /* Turn off any background colors or images */
  
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    /* Hide sidebars and nav elements */
  
    visibility: hidden;
    display: none;
  }
}
/* End @media print */
@-moz-document url-prefix() {
  /* add styles only for firefox here... */
  nav ul#menu li a {
    padding: 13px 27px 13px 28px;
  }
  #wrap footer #policy h5 {
    margin-right: 19px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* add styles only for Safari/Chrome here... */
}
html.ie-8 {
  /* add styles only for IE8 here... */
}
html.ie-7 {
  /* add styles only for IE7 here... */
}
html.no-js {
  /* add styles for all IE versions here... */
}
html.mac {
  /* add styles only for MAC Safari here... */
}
